
<router-outlet></router-outlet>
<mat-form-field appearance="fill">
  <mat-label>Buscar</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder=" Introduzca atributo a buscar" #input>
</mat-form-field>
<div class="fondo">
<table mat-table [dataSource]="origen" matSort class="mat-elevation-z8">

  <ng-container matColumnDef="idEspecialidad">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let element"> {{element.idEspecialidad}}</td>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
    <td mat-cell *matCellDef="let element"> {{element.nombre}}</td>
  </ng-container>

  <ng-container matColumnDef="descripcion">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripcion</th>
    <td mat-cell *matCellDef="let element"> {{element.descripcion}}</td>
  </ng-container>

  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef>Acciones</th>
    <td mat-cell *matCellDef="let element">
      <button mat-button color="primary" [routerLink]="['edicion', element.idEspecialidad]">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-button color="primary" (click)="eliminar(element.idEspecialidad)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnasAMostrar"></tr>
    <tr mat-row *matRowDef="let row; columns: columnasAMostrar"></tr>

</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [length]="origen.data.length" aria-label="Seleccionar páginas"></mat-paginator>
<button mat-fab color="basic" style="float: right;" routerLink="/pages/especialidad/nuevo">
  <mat-icon>add</mat-icon>
</button>
</div>
